<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">email</ion-label>
            <ion-input [(ngModel)]="userEmail" autofocus inputmode="email" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="userPassword" required type="password"></ion-input>
        </ion-item>
        <ion-button (click)="authService.emailLogin(userEmail, userPassword)" color="dark" expand="full">
            Email Login
        </ion-button>
        <ion-item-divider></ion-item-divider>
        <ion-item-group>
            <ion-button (click)="authService.googleLogin()" color="danger" expand="full">
                Google Login
            </ion-button>
            <ion-button (click)="authService.facebookLogin()" color="primary" expand="full">
                Facebook Login
            </ion-button>
        </ion-item-group>


        <ion-item-divider></ion-item-divider>
        <ion-item-group>
            <ion-button [routerDirection]="'root'"
                        color="dark"
                        expand="full"
                        routerLink="/signup">
                Signup new user
            </ion-button>
        </ion-item-group>

        <!-- Information about current user -->
        <ion-item>
            <ion-label>
                {{authService.isLoggedIn ? 'Logged in as ' + authService.user?.email : 'Not logged in'}}
            </ion-label>
            <ion-button (click)="authService.logout()" [disabled]="!authService.isLoggedIn">
                Logout
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
