<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="width-80">
    <article>
        <p>
            The Harvard Universal Classics, originally known as Dr. Eliot's Five Foot Shelf, is a 51-volume anthology of
            classic works from world literature, compiled and edited by Harvard University president Charles W. Eliot
            and first published in 1909.
        </p>

        <p>
            Eliot had stated in speeches that the elements of a liberal education could be obtained by spending 15
            minutes a day reading from a collection of books that could fit on a five-foot shelf. (Originally he had
            said a three-foot shelf.) The publisher P. F. Collier and Son saw an opportunity and challenged Eliot to
            make good on this statement by selecting an appropriate collection of works, and the Harvard Classics was
            the result.
        </p>
    </article>
</ion-content>
