article {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: auto !important;
}

ion-footer {
  ion-icon {
    zoom: 2.5;
    //color: var(--pink-color);
  }
}
