article {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text !important;
}

ion-footer {
  ion-icon {
    zoom: 2.5;
    //color: var(--pink-color);
  }
}

@media (min-width: 450px) {
  .width-80 {
    align-self: center;
    width: 80%;
    max-width: 600px;
  }
}

@media (max-width: 450px) {
  .width-80 {
    align-self: center;
    width: 90%;
  }
}
