<ion-app>
    <ion-menu swipeGesture="false">
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="true">
                    <ion-item
                            *ngFor="let p of appPages"
                            [routerDirection]="'root'"
                            [routerLink]="[p.url]">
                        <ion-icon *ngIf="p.icon"
                                  slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                    <ion-item (click)="login('google')">
                        <ion-label>
                            Google Login
                        </ion-label>
                    </ion-item>
                    <ion-item (click)="login('facebook')">
                        <ion-label>
                            Facebook Login
                        </ion-label>
                    </ion-item>
                    <ion-item [routerDirection]="'root'"
                              routerLink="/about">
                        <ion-label>
                            About
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>

            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
