<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User saved notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (item of notes| keyvalue; track item) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{$any(item).key | date: 'MMMM dd'}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        @for (note of $any(item).value; track note) {
          <ion-item-sliding>
            <ion-item>
              {{note.text}}
            </ion-item>
            <ion-item-options>
              <ion-item-option (click)="deleteNote(note)" color="danger">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-card-content>
    </ion-card>
  }
</ion-content>
