// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@media (min-width: 450px) {
  .width-80 {
    align-self: center;
    width: 80%;
    max-width: 600px;
  }
}

@media (max-width: 450px) {
  .width-80 {
    align-self: center;
    width: 90%;
  }
}
